In [1]:
import parse_tns as tns
import cx_Oracle
import getpass
import pandas as pd
from sqlalchemy import types, create_engine
from pandas.io.sql import SQLTable
import sys

In [2]:
def empty(value):
    try:
        value = float(value)
    except ValueError:
        pass
    return bool(value)

def f(var):
    if isinstance(var, pd.DataFrame):
        return True
    else:
        return False

In [3]:
def process_results(input_result):
    if f(input_result) is True:
        if (input_result.empty) is False:
            print(input_result)
            input_result.to_excel('result.xlsx', index=False, header=True)

def access_query_execute(db_user, db_password, user, database):
    connection_string = db_user + '/' + db_password + database
    print("\n***CONNECTING***: " + db_user + '/' + "************" + database + "\n--------------")
    try:
        con = cx_Oracle.connect(connection_string)
        # QUERY XNUMBER
        df_user_exist = pd.read_sql("""SELECT gobeacc_username FROM spriden, gobeacc WHERE spriden_id = '""" + user + """' AND spriden_pidm = gobeacc_pidm""", con)
        # CHECK IF RESULT IS EMPTY. IF SO, QUERY BANNER GOBEAC_USERNAME
        if df_user_exist.empty == True:
            df_user_exist = pd.read_sql("""SELECT gobeacc_username FROM gobeacc WHERE gobeacc_username = '""" + user + """'""", con)
            try:
                df_user_access = pd.read_sql(
                            """SELECT 
                                    (SELECT s1.spriden_id
                                    FROM spriden s1, gobeacc g1
                                    WHERE s1.spriden_pidm = g1.gobeacc_pidm
                                        AND g1.gobeacc_username = gurucls_userid
                                        AND s1.spriden_change_ind IS NULL) AS network_id,
                                    '""" + database[16:20].upper() + """' AS ENVR,
                                    gurucls_userid AS banner_id, gurucls_class_code AS banner_class
                                FROM bansecr.gurucls
                                WHERE (SELECT MAX(g.gobeacc_username)
                                        FROM spriden s, gobeacc g
                                        WHERE g.gobeacc_username = gurucls_userid
                                        AND s.spriden_pidm = g.gobeacc_pidm) = gurucls_userid
                                        AND gurucls_userid = '""" + user + """' 
                                ORDER BY gurucls_class_code"""
                        , con)
                print("BANNER QUERY COMPLETE.")

            except:
                print ("ERROR: USER APPEARS TO EXIST, BUT SQL QUERY IS UNABLE TO EXECUTE.")
                print("--------------\n***DISCONNECTING***\n")
                df_user_access = pd.DataFrame()
        # IF QUERIES PRODUCES RESULT, RUN QUERY // IF RESULT IS EMPTY, THROUGH EXCEPTION
        elif df_user_exist.empty == False:
            try:
                df_user_access = pd.read_sql(
                            """SELECT '""" + user + """' AS network_id,
                                    '""" + database[16:20].upper() + """' AS ENVR,
                                    gurucls_userid AS banner_id, gurucls_class_code AS banner_class
                                FROM bansecr.gurucls
                                WHERE (SELECT MAX(g.gobeacc_username)
                                        FROM spriden s, gobeacc g
                                        WHERE s.spriden_id = '""" + user + """'
                                        AND s.spriden_pidm = g.gobeacc_pidm) = gurucls_userid
                                ORDER BY gurucls_class_code"""
                        , con)
                print("BANNER QUERY COMPLETE.")

            except:
                print ("ERROR: USER APPEARS TO EXIST, BUT SQL QUERY IS UNABLE TO EXECUTE.")
                print("--------------\n***DISCONNECTING***\n")
                df_user_access = pd.DataFrame()
        else:
            print("RESULT: USER IS INCORRECT OR DOES NOT EXST IN THE BANNER ENVIRONMENT.")
            df_user_access = "nouser"
        con.close()
        print("--------------\n***DISCONNECTING***\n")
    except:
        print("ERROR: Unable to connect to database. Please check credentials and database connection information.\n--------------\n***CONNECTION FAILED***\n")
        df_user_access = "conerror"
    return df_user_access

In [4]:
def to_sql(self, frame, name, if_exists='fail', index=True,
           index_label=None, schema=None, chunksize=None, dtype=None):
    """
    patched version of https://github.com/pydata/pandas/blob/v0.15.2/pandas/io/sql.py#L1129
    """
    if dtype is not None:
        from sqlalchemy.types import to_instance, TypeEngine
        for col, my_type in dtype.items():
            if not isinstance(to_instance(my_type), TypeEngine):
                raise ValueError('The type of %s is not a SQLAlchemy '
                                 'type ' % col)

    table = SQLTable(name, self, frame=frame, index=index,
                     if_exists=if_exists, index_label=index_label,
                     schema=schema, dtype=dtype)
    table.create()
    table.insert(chunksize)
    # check for potentially case sensitivity issues (GH7815)
    if name not in self.engine.table_names(schema=schema or self.meta.schema):
        warnings.warn("The provided table name '{0}' is not found exactly "
                      "as such in the database after writing the table, "
                      "possibly due to case sensitivity issues. Consider "
                      "using lower case table names.".format(name), UserWarning)

#pd.io.sql.SQLDatabase.to_sql = to_sql

In [8]:
def insert_or_update(connection, identifier, article, citations=None):
    cursor = connection.cursor()
 
    cursor.setinputsizes(cx_Oracle.CLOB, cx_Oracle.CLOB, 20)
    cursor.prepare(UPDATE_STATEMENT)
    cursor.execute(None, (article, citations, identifier))
    connection.commit()
 
    try:
        cursor.setinputsizes(cx_Oracle.CLOB, cx_Oracle.CLOB, 20)
        #cursor.prepare()
        cursor.execute("""INSERT INTO table
                        (test_number, test_belief, test_author)
                        VALUES
                        ('""" + str(row.TEST_NUMBER) + """','""" + row.TEST_BELIEF + """','""" + row.TEST_AUTHOR + """')""")
        connection.commit()
        print >> sys.stderr, "++ New Entry:", identifier
    #except cx_Oracle.IntegrityError, e:
        if ("%s" % e.message).startswith('ORA-00001:'):
            print >> sys.stderr, "Entry already there:", identifier
        else:
            raise e
    finally:
        cursor.close()

## Looking at INSERT documentation: https://www.oracle.com/technetwork/articles/dsl/python-091105.html
- Related to line 15
- I think that I can just use enumerate and intertuples to construct each insert line, and do my compares with it.

In [63]:
def access_query_execute(db_user, db_password, user, database):
    connection_string = db_user + '/' + db_password + database
    print("\n***CONNECTING***: " + db_user + '/' + "************" + database + "\n--------------")
    con = cx_Oracle.connect(connection_string)
    cur = con.cursor()
    con_engine = create_engine('oracle+cx_oracle://' + db_user + ':' + db_password + '@192.168.86.108:5521/?service_name=xe')
    print(con_engine)
    print(pd.read_sql("SELECT * FROM patheos_test", con_engine))
    print("")
    df_data = pd.DataFrame({'TEST_NUMBER': [90031, 80029, 70028, 0], 'TEST_BELIEF': ['belief31', 'belief29', 'belief28','belief32'], 'TEST_AUTHOR':['author31','author29','author28','author32']})
    
    for i, row in enumerate(df_data.itertuples(), 1):
        #print(row)
        #print(i, row.TEST_NUMBER)
        #insert_item1 = row.TEST_NUMBER
        number = int(row.TEST_NUMBER)
        belief = str(row.TEST_BELIEF)
        author = str(row.TEST_AUTHOR)
        
        test = pd.read_sql("SELECT * FROM patheos_test WHERE test_number = '" + str(row.TEST_NUMBER) + "'", con_engine)
        if test.empty == True:
            cur.execute("SELECT MAX(test_number) FROM patheos_test")
            new_number = int(cur.fetchall()[0][0]) + 1
            cur.execute("""INSERT INTO patheos_test
                            (test_number, test_belief, test_author)
                            VALUES
                            ('""" + str(new_number) + """','""" + row.TEST_BELIEF + """','""" + row.TEST_AUTHOR + """')""")
            con.commit()
            cur2 = con.cursor()
            cur2.execute("SELECT * FROM patheos_test WHERE test_number = '" + str(new_number) + "'")
            res = cur2.fetchall()
            cur2.close()
            print("INSERTED: " + str(res))
        else:
            print("ALREADY EXISTS: " + str(row.TEST_NUMBER))
    
    #df_data.to_sql('patheos_test', con_engine, if_exists='append',index=False)

    print("\nINSERT COMPLETE.")
    cur.close()
    con.close()
    print("--------------\n***DISCONNECTING***\n")
    #return df_user_access

In [ ]:
cur.var(cx_Oracle.NUMBER)

In [64]:
def main():
    tnsnames_path = "C:\\Users\\Ben\\Documents\\GitHub\\KeePass_Login_App\\python_migration\\"
    SID = "PATHEOSDB"
    environment = tns.parse_tnsnames(tnsnames_path, SID)
    database_user = "no_input" #input("Xnumber or Banner Username: ")
    database_user = database_user.upper()
    #banner_database = environment_select(input("Banner database: "))
    #environment_user = ("Data base user: ")
    environment_user = 'system'
    environment_password = 'fixed1barrel1odour1meld1bully' #getpass.getpass(environment_user + " Password: ")
    process_results(access_query_execute(environment_user, environment_password, database_user, environment))
    
main()

***CONNECTING***: system/************@192.168.86.108:5521/xe
--------------
Engine(oracle+cx_oracle://system:***@192.168.86.108:5521/?service_name=xe)
    test_number test_belief test_author
0         11111     belief0     author0
1         90017    belief17    author17
2         90030    belief30    author30
3         90031    belief31    author31
4         90018    belief18    author18
5         80015    belief15    author15
6         70016    belief16    author16
7         90019    belief19    author19
8         80020    belief20    author20
9         70021    belief21    author21
10        90022    belief22    author22
11        90025    belief25    author25
12        80023    belief23    author23
13        70024    belief24    author24
14        90026    belief26    author26
15        80027    belief27    author27
16        70028    belief28    author28
17        90032    belief32    author32
18        90001    belief10    author10
19        80001     belief8     author8
20        70001     belief9     author9
21        10000     belief1     author1
22        20000     beleif2     author2
23        30000     belief3     author3
24        90011    belief11    author11
25        80012    belief12    author12
26        70013    belief13    author13
27        90014    belief14    author14
28        40000     belief4     author4
29        50000     beleif5     author5
30        60000     belief6     author6
31        80029    belief29    author29
32        70000     belief7     author7
33        80000     beleif8     author8
34        90000     belief9     author9

ALREADY EXISTS: 90031
ALREADY EXISTS: 80029
ALREADY EXISTS: 70028
INSERTED: [(90033, 'belief32', 'author32')]

INSERT COMPLETE.
--------------
***DISCONNECTING***